    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Tired of ugly object in your exciting gaming journey ?</h2>
              <br/>
                <p>Thanks to out-of-the-box disruptive idea from the Nerd Squad company, be ready to transform the way of how you roll your dices !</p>
                <br/>
              </div>
        </div>
    </section>
